@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&family=Spartan&display=swap");

body {
  background-color: #ffffff;
  color: #4f96d8;
  margin: 0px;
  font-family: "Roboto", sans-serif;
}
main > header {
  display: grid;
  grid-template-columns: 1fr auto auto;
  align-items: center;
  background-color: #e5e5e5;
  padding: 1em;
  margin: 0em;
}
main > header h1 {
  margin: 0;
}
main > header a.button {
  margin: 1em;
  justify-self: center;
}
main > header span {
  margin: 1em;
  justify-self: center;
}

#notification-tab {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  margin: 15px;
}

.fa-bell {
  color: #4357ad;
  font-size: 25px;
  margin-top: 6px;
  cursor: pointer;
}

.fa-bell:hover {
  color: grey;
}

.notifications {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 45px;
  min-width: 100px;
  max-width: 400px;
  background-color: white;
  border-radius: 15px;
  padding: 20px;
}

.notifications.tab-open {
  display: flex;
}

.notification {
  padding: 5px 0;
  border-bottom: 1px solid grey;
  color: black;
}

.timeline {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
#cards article.card {
  display: flex;
  flex-direction: column;
  background-color: #d3edc3;
  padding: 1em;
  margin: 1em;
}
#cards article.card header {
  display: flex;
  align-items: center;
}
#cards article.card header h2 {
  flex-grow: 1;
}
#cards article.card header a.delete {
  display: none;
  font-size: 2.6rem;
  margin-top: 0.5rem;
  margin-bottom: 2.5rem;
  line-height: 1.25;
}
#cards article.card header:hover a.delete {
  display: inline;
}
#cards article.card li {
  list-style-type: none;
}
#cards article.card li label {
  display: flex;
  align-items: baseline;
}
#cards article.card li label span {
  margin-left: 0.5em;
  flex-grow: 1;
}
#cards article.card li label a {
  display: none;
}
#cards article.card li label:hover a {
  display: inline;
}
#cards article.card input:checked + span {
  text-decoration: var(--primary-color) solid line-through;
}
#cards article.card ul {
  margin: 0;
}
#cards article.card form {
  margin: 0;
}
#cards article.card input[type="text"] {
  background-color: white;
  margin: 0;
}
#content label {
  font-weight: normal;
}
#content > form {
  margin: 0 auto;
  padding: 1em;
  max-width: 20em;
  border: 1px solid grey;
  border-radius: 10px;
  color: #4357ad;
}
#content > form .error {
  font-weight: bold;
  color: #ff3333;
}
#content > form input {
  background-color: white;
}
@media (max-width: 70em) {
  #cards {
    grid-template-columns: repeat(2, 1fr);
  }
  main > header {
    display: grid;
    grid-template-columns: 1fr auto;
  }
  main > header h1 {
    grid-row-end: span 2;
  }
}
@media (max-width: 40em) {
  #cards {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 25em) {
  body {
    margin: 0;
  }
  main > header {
    margin: 0;
    padding: 0.5em;
  }
  main > header span {
    margin: 0;
  }
  #content form {
    margin: 0;
    max-width: 25em;
  }
  article.card {
    margin: 0;
    border-bottom: 1px solid rgba(96, 108, 118, 0.4);
  }
}
/**
 * Overide milligram colors
 * Some styles might be missing
 **/
button {
  background-color: #4357ad;
  border-color: #4357ad;
}
a.button {
  background-color: #4357ad;
  border-color: #4357ad;
}
a.button.button-outline {
  color: #4357ad;
}
a {
  color: #4357ad;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  border-color: #4357ad;
}

#delete-post-input {
  display: none;
}

.search-bar-input {
  background-color: #ffffff !important;
  width: 75% !important;
}

#grid-menu {
  min-height: 125px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#logo-div a {
  display: flex;
  align-items: center;
  color: black;
  font-family: "Spartan";
  font-weight: bold;
}

#logo-div #PG-name {
  padding-left: 10px;
}

#logo {
  border-radius: 50%;
  height: 100px;
}

#search-wrapper {
  padding-left: 50px;
}

#search-form {
  height: 100%;
  margin-bottom: 0;
}

#corner-grid {
  display: flex;
  align-items: center;
}

#profile-icon {
  object-fit: cover;
  border-radius: 50%;
  z-index: 100;
  height: 100%;
}

#profile-icon-div {
  grid-column: 3 / span 1;
  text-align: center;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 100px;
}

#profile-icon-link {
  width: 50px;
  height: 50px;
}

.profile-menu {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  font-family: "Spartan", sans-serif;
  width: fit-content;
  position: absolute;
  top: 115px;
  z-index: 100;
}

.profile-menu:after {
  content: " ";
  position: absolute;
  right: 85px;
  top: -15px;
  border-top: none;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  border-bottom: 15px solid white;
}

#profile-icon-div:hover #profile-menu {
  display: flex !important;
}

.profile-menu a {
  color: black;
  margin: 10px;
}

.profile-menu a:hover {
  color: #4357ad;
}

#logout-button {
  text-align: center;
  width: 70%;
  grid-column: 2 / span 1;
}

#login-register-div {
  text-align: right;
}

#friends-page .tabs {
  display: flex;
  justify-content: center;
}

#friends-list {
  display: block;
  padding: 20px;
}

#friend-requests-list {
  display: none;
  padding: 20px;
}

#friends-list-tab,
#friend-requests-tab {
  width: 50%;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  color: black;
}

.active-tab {
  background-color: #e5e5e5;
}

#friends-list-tab:hover,
#friend-requests-tab:hover {
  background-color: #e5e5e5;
}

#friends_list, #friend-requests {
  display: flex;
}

.friend-card, .friend-request-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 20px;
  border-radius: 15px;
  background-color: #efefef;
  color: black;
  width: 200px;
}

.friend-card img, .friend-request-card img{
  margin: 0;
  border-radius: 10px;
  width: 80%;
  height: 80px;
}

.friend-card a, .friend-request-card a{
  color: black;
  font-family: "Spartan", sans-serif;
  padding: 10px 0;
  font-weight: bold;
}

.request-answer {
  margin-top: 10px;
}

.request-answer form {
  margin: 0;
}

.messages-page {
  display: flex;
  height: calc(100vh - 160px);
}

.contacts-list{
  width: 30%;
  max-height: calc(100vh - 125px);
  overflow: auto;
  border-right: 1px solid grey;
  font-family: "Spartan", sans-serif;
}

.contacts-list-contacts {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.messages-page-messages {
  width: 70%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  max-height: calc(100vh - 125px);
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  justify-content: space-between;
}

.message-history {
  display: flex;
  flex-direction: column;
  overflow: auto;
  scroll-behavior: smooth;
}

#message_form {
  position: sticky;
  display: flex;
  margin-bottom: 0;
}

#message_form button {
  background-color: white !important;
  border: none !important;
  margin: 0;
}

.fa-arrow-circle-right {
  color: #4357AD;
  font-size: 30px;
  margin-top: 5px;
}

.fa-arrow-circle-right:hover {
  color: grey;
}


.contact {
  display: flex;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid grey;
  cursor: pointer;
}

.contact:hover {
  background-color: #efefef;
}

.contact-name {
  padding-left: 10px;
}

.contact img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.message {
  max-width: 60%;
  padding: 10px;
  border-radius: 15px;
  background-color: #e5e5e5;
  margin: 10px;
  color: black;
  width: fit-content;
}

.self {
  align-self: end;
  background-color: #4357ad;
  color: #ffffff;
}

.user-short-links {
  display: flex;
  flex-direction: column;
}

.user-short-links a{
  color: black;
  margin: 10px;
  cursor: pointer;
}

.user-short-links a:hover{
  color: grey;
}


.invisible-button {
  display: none;
}

.new-post {
  display: inline;
}

.new-post form input {
  flex: 1;
  margin: 0 !important;
}

.new-post form {
  display: flex;
  margin: 0.75em 0 !important;
  align-items: center;
}

.contacts-menu {
  display: none;
}


@media (max-width: 768px) {
  #logo-div {
    min-width: 145px;
    width: 30%;
  }

  #logo-div a {
    width: 50%;
  }

  #logo {
    height: auto;
  }

  .user_grid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .user_item {
    position: relative;
    margin-left: 0;
  }

  .contacts-menu {
    display: block;
    margin: 15px;
    font-size: 30px;
    color: #4357ad;
  }

  .contacts-list {
    width: 50px;
    border: none;
    transition: width 1s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contacts-list-contacts {
    transition: width 1s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contacts-list-contacts {
    width: 0;
  }

  .messages-page-messages {
    width: 100%;
    transition: width 1s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .collapse-history {
    width: 0%;
    padding: 0;
  }


  .expand-contact-list {
    width: 100%;
  }
}
