.groups-page {
  padding: 30px;
}

.groups-wrapper {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 40% 60%;
}

.groups-wrapper .info {
  text-align: center;
}

.users-grid {
  width: 80%;
  margin-left: 10%;
}

.users-grid ul {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.users-grid ul li {
  list-style: none;
}

.grid-image {
  width: 85%;
}

.group-creation {
  width: 50%;
}

.grid-button {
  width: 90%;
  font-size: 0.6em;
  padding: 0;
}

.owner {
  background-color: rgb(170, 170, 170);
  border: 0.1rem solid rgb(170, 170, 170);
}

.owner:hover {
  background-color: rgb(170, 170, 170);
  border: 0.1rem solid rgb(170, 170, 170);
  cursor: default;
}

.owner:focus {
  background-color: rgb(170, 170, 170);
  border: 0.1rem solid rgb(170, 170, 170);
  cursor: default;
}

#rename-group-input {
  width: 50%;
}

#group-delete-button {
  background-color: rgb(230, 52, 52);
  border: none;
}

.no-dots {
  list-style: none;
}
