@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Spartan&display=swap');


.posts-item{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.post{
    width: 70%;
    border: 1px solid grey;
    border-radius: 20px;
    height: max-content;
    padding: 20px;
    margin: 40px;
    color: black;
    position: relative;
}

#post-info{
    height: 40px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.post-profile-image{
    float: left;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
}

#post-comments {
    padding: 20px 0;
    padding-top: 20px;
}

.comment_replies{
    padding-left: 20px;
}

#post-username{
    float: left;
    color: black;
    font-family: 'Spartan', sans-serif;
    font-weight: bold;
}

#post-username:hover {
    color: grey;;
}

#post-created{
    position: absolute;
    right: 10px;
    font-size: 12px;
}

#post-updated{
    justify-self: right;
}

#post-actions{
    display: flex;
    justify-content: center;
    align-items: stretch;

}

#post-text{
    width: 100%;
    margin: 0px;
    word-wrap: break-word;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    padding: 20px 0;
    vertical-align: middle;
}

#post-text p {
    margin: 0;
}

#post-edit-button{
    width: 10em !important;
    height: 100%;
    margin:0 !important;
    padding:0 !important;
}

#post-delete-button{
    margin:0 !important;
    padding:0 !important;
    width: 10em;
    height: 100%;
}

hr{
    height: 1px;
    background-color: black;
    border: none;
}


@media (max-width: 768px){

    .user-profile-image {
        width: 50%;
    }

    #post-info {
        height: 65px;
      }
    
      #post-created {
        left: 20px;
        top: 75px;
      }

      .posts_item {
          width: 90%;;
      }

      .profile-timeline {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .post {
          margin: 0;
          width: 90%;
      }
}